*{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
a{
	color: inherit;
	text-decoration: none;
}
 
 
body{
	font-family: arial;
}
img{
	vertical-align: top;
}
.contenedor{
	width: 1330px;
	margin:0 auto;
}

/*** header ***/

.top-bar{
	background-color: rgb(246,246,245);
	
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 40px;
	padding-right: 40px;
}
.item-top-bar li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin-right: 15px;
	color:rgb(163,163,163);
}
.title-site{

float: left;
padding-top: 20px;
padding-bottom: 20px;
}
.nav-site{

float: left;
margin-top: 38px;
margin-left: 90px;
}
.nav-site ul li{
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
	margin-right: 40px;
}
.btn-action{

float: right;
background-color: skyblue;
padding: 15px;
color:white;
font-weight: bold;
font-size: 16px;
border-radius: 6px;
margin-right: 50px;
margin-top: 25px;
}
/*** end header ***/
/*
.item-top-bar{
	float: left;

}
.item-top-bar li{
	float: left;
}*/



/** seccions slider **/
.slider img{
	width: 100%;
}
/** end seccino slider **/


/** seccion productos **/
.seccion-productos{



}
.seccion-productos .title{
font-size: 30px;
text-align: center;
padding-top: 50px;
margin-bottom: 60px;
}
.lista-productos{
	display: flex;
	justify-content: space-between;
	padding-left: 150px;
	padding-right: 150px;
}

.item-producto{
	width: 280px;

	text-align: center;
}
.marca{
	display: block;
	font-weight: bold;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 8px;
}
.modelo{
display: block;
color: rgb(233,233,234)
margin-bottom: 2px;
}
.cuota{
display: block;
color: rgb(233,233,234)
}
.precio{
display: block;
font-size: 30px;
margin-top: 15px;
margin-bottom: 15px;
}

.btn-comprar{
	background-color: rgb(107,203,25);
	width: 100%;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
/*
	transition-property: all;
	transition-duration: 2s;
	transition-delay: 0s;
	transition-timing-function: linear;
*/

}

.btn-comprar:hover{
	/*background-color: black;*/
	opacity: 0.8;
}
.ver-mas-equipos{
	text-align: center;
	color: skyblue;
	margin-top:60px;
	padding-bottom: 30px;
}
/** end seccion productos **/


/** seccion canales **/
.seccion-canales{
	background-color: #f5f5f5;
	padding-top: 60px;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
}
.foto-canales{

}
.listado-canales{
	width: 340px;
	background-color: blue;
	margin-left: 40px;

}
.listado-canales ul {
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.listado-canales li{
	border-bottom: 2px solid silver;
	/*padding-top: 40px;
	padding-bottom: 40px;*/
	padding-left: 25px;
	
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.listado-canales li h3{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;

	}
	.listado-canales li span{
		font-size: 18px;
	}
/** end seccion canales **/


/** bloque info **/
.bloque-info{
	height: 400px;
	/*background-color: black;*/
	background-image: url(../img/fondo1.jpg);
	background-size: cover;
	color: white;
	padding-top: 50px;
	padding-left: 110px;
}

.texto1{
	font-size: 40px;
	display: block;
	margin-bottom: 25px;
	text-shadow: 2px 2px 2px black;
}
.texto2{
font-size: 23px;
	display: block;
	margin-bottom: 10px;
		text-shadow: 2px 2px 2px black;

}

.texto3{
font-size: 23px;
	display: block;
		text-shadow: 2px 2px 2px black;
}
.texto3 strong{
	font-weight: bold;
}
.iconos{
	font-size: 40px;
	margin-top: 20px;
	}
	.iconos i{
		margin-right: 15px;
	}
.iconos{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	

}
	.iconos .fa-plus{
	font-size: 20px;
	}

/** end bloque info**/
/*** helpers ***/
.clearfix{
	clear: both;
}
